@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
.navbar {
  background: #59128f;
}

.navbar__container {
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
}

.navbar__container .lists {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar__container .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    top: 10vh;
    right: 0px;
    background: #333333;
    height: 90vh;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .navbar__container .lists.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.navbar__container .lists .nav__link {
  color: #fff;
  margin: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar__container .lists .nav__link:not(.cart-btn):hover {
  color: #ff2600;
}

.navbar__container .logo {
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 30px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.navbar__container .logo span {
  background-image: -webkit-gradient(to right, #f5af19, #f12711);
  background-image: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background-image: linear-gradient(to right, #f5af19, #f12711);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar__toggle {
  display: none;
  position: absolute;
  top: 27%;
  right: 5%;
  -webkit-transform: translate(5%, 27%);
          transform: translate(5%, 27%);
  z-index: 99999;
  cursor: pointer;
}

.navbar__toggle .line {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .navbar__toggle {
    display: block;
  }
  .navbar__toggle.is__active .line:nth-child(2) {
    opacity: 0;
  }
  .navbar__toggle.is__active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar__toggle.is__active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.noti {
  position: relative;
}

.cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fas {
  font-size: 30px;
}

.top {
  width: 30px;
  background: #e90000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 15%;
  right: 10%;
}

.none {
  display: none;
}
/*# sourceMappingURL=navbar.css.map */